* {
    margin: 0;
    padding: 0;
}
/* 去除小黑点 */
li {
    list-style: none;
}
a {
    color: rgb(75,102,145);
    text-decoration: none;
}
/* 设置背景图片 */
body {
    width: 100%;
    height: 100%;
    /* background: url(../images/bg4.png) no-repeat; */
    background: url(../images/bg.png) no-repeat;
    background-size:cover;
    background-attachment:fixed
}
/* 设置登录窗口 */
.registerWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin-top: -270px;
    margin-left: -200px;
    background-color: rgba(4, 13, 33, 0.6);
}
.registerWindow h4 {
    width: 320px;
    height: 100px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    color: #4b6691;
}
.registerWindow div {
    width: 320px;
    margin: auto;
}
.registerWindow .form li {
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
.registerWindow .form li input {
    float: left;
    height: 25px;
    border: 1.5px solid transparent;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    outline: none;
    background-color:transparent;
}
.form li input:focus {
    border: 1.5px solid skyblue;
    background-color: rgba(0,49,125,.6);
}

.form li span {
    float: left;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: skyblue;;
}
#check {
    width: 180px;
    height: 14px;
    margin-top: 20px;
    font-size: 12px;
    color: red;
}
.registerWindow div button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 5px auto 0px auto;
    text-align: center;
    font-size: 18px;
    color:rgb(0,207,200);
    background-color: rgba(4,13,33,0.7);
}
.registerWindow div button:hover {
    background-color: rgba(73,31,74,0.4);
}
.registerWindow div #toLogon {
    float: right;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
}
